# KHÁM PHÁ DỮ LIỆU VÀ TIỀN XỬ LÝ

In [126]:
# Import các thư viện cần thiết
import pandas as pd
import numpy as np
import warnings

## Đọc dữ liêu tập tin đã crawl về
Đọc từ đường dẫn file `./air_quality/dataset/air_datas.json` và lưu vào `df`

In [127]:
path = './air_quality/dataset/air_datas.json'
df = pd.read_json(path)
df.head()

,Rank,City,Year_2021,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year_2020,Year_2019,Year_2018,Year_2017
0,1,"Bhiwadi, India",106.2,145.8,129.8,120.2,125.7,86.5,95.9,55.6,55.4,37.1,91.1,188.6,136.6,95.5,83.4,125.4,-
1,2,"Ghaziabad, India",102.0,199.9,172.2,97.8,86.3,52.9,47.2,35.3,37.6,30.8,89.7,218.3,163,106.6,110.2,135.2,144.6
2,3,"Hotan, China",101.5,-,-,158,91.1,167.4,57.4,70.9,93.2,79.3,126.1,111.5,62.6,110.2,110.1,116,91.9
3,4,"Delhi, India",96.4,183.7,142.2,80.5,72.9,47.4,47.1,35.6,36.9,30.2,73.7,224.1,186.4,84.1,98.6,113.5,108.2
4,5,"Jaunpur, India",95.3,182.2,143.5,91,70,51.1,40.7,33.5,34.2,36.8,75.7,196,195.7,-,-,-,-

## Kiểm tra dữ liệu có bao nhiêu dòng, bao nhiêu cột
Ta tính số dòng và số cột của DataFrame `df` và lưu vào biến `shape` (tuple).

In [128]:
shape = df.shape
shape

(6475, 19)

## Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng trong DataFrame `df` cho biết dữ liệu mức độ ô nhiễm của một thành phố trong một quốc gia trên thế giới 

## Dữ liệu có các dòng bị lặp không?

In [129]:
id = list(df.index)
num_duplicated_rows = len(id)-len(set(id))
if(num_duplicated_rows == 0):
    print("Dữ liệu không bị lặp")
else: 
    print("Dữ liệu bị lặp " + str(id) + " dòng")

Dữ liệu không bị lặp

## Mỗi cột có ý nghĩa gì?

In [130]:
df.columns

Index(['Rank', 'City', 'Year_2021', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Year_2020', 'Year_2019',
       'Year_2018', 'Year_2017'],
      dtype='object')


## Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6475 entries, 0 to 6474
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       6475 non-null   int64
 1   City       6475 non-null   object
 2   Year_2021  6475 non-null   float64
 3   Jan        6475 non-null   object
 4   Feb        6475 non-null   object
 5   Mar        6475 non-null   object
 6   Apr        6475 non-null   object
 7   May        6475 non-null   object
 8   Jun        6475 non-null   object
 9   Jul        6475 non-null   object
 10  Aug        6475 non-null   object
 11  Sep        6475 non-null   object
 12  Oct        6475 non-null   object
 13  Nov        6475 non-null   object
 14  Dec        6475 non-null   object
 15  Year_2020  6475 non-null   object
 16  Year_2019  6475 non-null   object
 17  Year_2018  6475 non-null   object
 18  Year_2017  6475 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 961.3+ KB

### Nhận xét
- Các cột chủ yếu đều có dạng `numeric`. Tuy nhiên ta có thể thấy được các cột có kiểu dữ kiệu là object (chủ yếu) do đó ta cần phải xử lý đưa kiểu dữ liệu cột về đúng định dạng. 
- Ta đưa về dtype = `np.float64`

In [132]:
df = df.replace(' - ', np.nan)
warnings.simplefilter("ignore", category = FutureWarning)
df.iloc[:, 3:19] = df.iloc[:, 3:19].astype(np.float64)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6475 entries, 0 to 6474
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       6475 non-null   int64
 1   City       6475 non-null   object
 2   Year_2021  6475 non-null   float64
 3   Jan        5804 non-null   float64
 4   Feb        5901 non-null   float64
 5   Mar        6282 non-null   float64
 6   Apr        6219 non-null   float64
 7   May        6459 non-null   float64
 8   Jun        6459 non-null   float64
 9   Jul        6453 non-null   float64
 10  Aug        6466 non-null   float64
 11  Sep        6458 non-null   float64
 12  Oct        6449 non-null   float64
 13  Nov        6432 non-null   float64
 14  Dec        6388 non-null   float64
 15  Year_2020  4268 non-null   float64
 16  Year_2019  4053 non-null   float64
 17  Year_2018  2476 non-null   float64
 18  Year_2017  2281 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 961.3+ KB

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

Với các cột điểm, Ta sẽ tính:
- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu 
- Giá trị min
- Giá trị lower quartile (phân vị 25)
- Giá trị median (phân vị 50)
- Giá trị upper quartile (phân vị 75)
- Giá trị max


Bạn sẽ lưu kết quả vào DataFrame `num_col_info_df`, trong đó: 
- Tên của các cột là:
  - Cột năm: Mức độ ô nhiễm được trong năm 2021
  - Cột tháng: Mức độ ô nhiễm được dự đoán trong tháng của năm 2022
- Tên của các dòng là: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"

Để dễ nhìn, tất cả các giá trị ta đều làm tròn với 1 chữ số thập phân bằng phương thức `.round(1)`.

In [133]:
def get(col):
    NaNValue = col.isna().sum()
    valu1 = col.dropna()
    x = []
    x.append((NaNValue/len(col))*100)
    x.append(np.percentile(valu1, 0))
    x.append(np.percentile(valu1, 25))
    x.append(np.percentile(valu1, 50))
    x.append(np.percentile(valu1, 75))
    x.append(np.percentile(valu1, 100))
    return np.array(x).round(1)

index_info=["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"]
dict_info = {}
for i in df.columns:
    if df[i].dtype in [np.float32, np.float64]:
        dict_info[i] = get(df[i])   
num_col_info_df =pd.DataFrame(dict_info,index_info)
num_col_info_df

,Year_2021,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year_2020,Year_2019,Year_2018,Year_2017
missing_ratio,0.0,10.4,8.9,3.0,4.0,0.2,0.2,0.3,0.1,0.3,0.4,0.7,1.3,34.1,37.4,61.8,64.8
min,1.5,0.6,1.4,1.0,1.0,1.0,1.0,1.5,1.6,1.5,1.5,1.1,1.2,2.2,1.9,2.2,1.3
lower_quartile,8.2,8.0,7.3,6.8,6.5,5.2,6.7,7.5,7.5,7.3,6.3,7.1,7.2,8.1,7.7,8.7,8.8
median,10.7,11.4,11.4,10.5,9.6,8.1,9.4,10.5,11.1,10.1,8.7,10.4,10.7,10.3,10.6,12.0,11.9
upper_quartile,15.9,18.8,19.4,16.8,14.6,11.8,12.8,15.4,16.6,14.1,13.3,17.7,17.8,16.4,15.9,19.4,19.0
max,106.2,225.0,227.1,189.1,125.7,296.6,127.3,197.3,246.6,110.8,126.1,275.0,241.7,110.2,110.2,135.8,145.6