In [2]:
import pandas as pd
import numpy as np

In [16]:
path = './air_quality/dataset/air_datas.json'
df = pd.read_json(path)
df.isna()

,Rank,City,Year_2021,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year_2020,Year_2019,Year_2018,Year_2017
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6470,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6471,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6472,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6473,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6474,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False